$color-primary: #ce1919;
$color-secondary: #c74040;

@media only screen and (max-width: 480px) {
    .is-desktop{
        display: none;
    }
}

@media only screen and (min-width: 481px) {
    .is-mobile{
        display: none;
    }
}

*,
html,
body {
    padding: 0px;
    margin: 0px;

    font-size: 62.5%;
}

.darkmode--activated p, .darkmode--activated li, .darkmode-toggle{
    font-size: 16px !important;
}

.navi {
    font-family: Roboto;
    font-size: 2.5rem;
    padding: 1rem 4rem;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    color: black;
    &_red-txt {
        color: red;
        font-size: 1.5rem;
    }
    p {
    }
    ul {
        display: flex;
        flex-direction: row;
        a {
            padding: 0 1rem;
            font-size: 1rem;
            color: black;
            text-decoration: none;
        }
    }
}
