$color-primary: #ce1919;
$color-secondary: #c74040;

*,
html,
body {
    padding: 0px;
    margin: 0px;

    font-size: 62.5%;
}

.navi {
    font-family: Roboto;
    font-size: 2.5rem;
    padding: 1rem 4rem;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    color: black;
    span {
        color: red;
        font-size: 1.5rem;
    }
    p {
    }
    ul {
        display: flex;
        flex-direction: row;
        li {
            padding: 0 1rem;
            list-style-type: none;
        }
    }
}
