$color-primary: #ce1919;
$color-secondary: #c74040;

.home-view {
    position: absolute;
    left: 9rem;
    bottom: 14rem;
    font-family: Roboto;
    //border: 2px solid red;
    display: inline-block;
    &_heading {
        color: black;
        font-size: 9rem;
    }
    &_subheading {
        color: $color-secondary;
        font-size: 3rem;
    }
    p {
        font-size: 1.6rem;
        color: $color-secondary;
    }
    hr {
        color: $color-primary;
        width: 8rem;
        margin: 1.5rem 0;
    }
}
