$color-primary: #ce1919;
$color-secondary: #c74040;

.home-view {
    position: absolute;
    left: 4rem;
    bottom: 7rem;
    font-family: Roboto;
    //border: 2px solid red;
    display: inline-block;
    &_heading {
        color: black;
        font-size: 4.5rem;
    }
    &_subheading {
        color: $color-secondary;
        font-size: 1.5rem;
    }
    p {
        font-size: 0.8rem;
        color: $color-secondary;
    }
    hr {
        border-top: 1px solid $color-secondary;
        width: 4rem;
        margin: 1.5rem 0;
    }
}
