.login-view {
    text-align: center;
    &_heading {
        font-family: roboto;
        h2 {
            text-transform: uppercase;
            font-size: 2rem;
            margin: 0;
        }
        p {
            font-size: 1rem;
            margin-bottom: 2rem;
        }
    }
    &_body {
        padding: 4rem 0;
        border: 2 px solid red;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        &-heading {
            font-size: 2rem;
            padding-bottom: 2rem;
        }
        &-subheading {
            font-size: 2rem;
            padding-bottom: 2rem;
        }
    }
    &_form {
        padding: 4rem 6rem;
        border: 1px solid black;
        box-shadow: 4px 5px 6px -1px rgba(gray, 0.75);
        align-self: center;

        &-button {
            margin: 2rem 0;
        }

        a {
            font-size: 0.8rem;
            padding: 2rem 0rem;
            margin: 2rem 0;
        }
    }

    .button {
        font-size: 1rem;
        border-radius: 20px;
        color: black;
        border: 1px solid black;
        padding: 2px 2.5rem;
    }
}
