.moja-desavanja-view {
    display: flex;
    justify-content: center;
    width: 100%;
    //border: 2px solid gold;

    &_sections {
        //border: 2px solid gold;
    }

    &_card-div {
        margin-top: 2rem;
        border: 1px solid #707070;
        box-shadow: 4px 5px 6px -1px rgba(gray, 0.75);
        padding: 2rem 4rem;
        max-width: 70rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card {
        display: flex;
        height: 7rem;
        width: 400px;
        border-radius: 0px 15px 15px 0px;
        box-shadow: 4px 5px 6px -1px rgba(gray, 0.75);
    }
    .card-img {
        text-align: center;
        width: 7rem;
        color: white;
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        &_text {
            margin: 0;
            font-size: 2rem;
            align-self: center;
        }
    }
    .card-text {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0px 5px;
        width: 80%;
        line-height: 0.5;
        h3 {
            font-size: 12px;
            margin: 10px 0;
            font-weight: 600;
        }
        p {
            font-size: 11px;
            margin: 5px 0px;
        }
        a {
            text-decoration: none;
            color: black;
        }
    }
    .card-info {
        align-self: flex-end;
        display: flex;
        p {
            padding: 0px 5px;
            font-size: 10px;
        }
    }
}
